RESEND_API_KEY=re_xxxxxxxxx
RESEND_FROM_EMAIL="Micro Saving Daily <Londyn@microsavingdaily.com>"
RESEND_REPLY_TO_EMAIL=Londyn@microsavingdaily.com
RESEND_FUNNEL1_SEGMENT_ID=84c70457-5924-4cbf-87b8-9048528a8838
RESEND_FUNNEL2_SEGMENT_ID=179d90f8-0660-4d5a-b3b4-9a2aecc8ed94
